{% extends 'tagpuanApp/base_profile.html' %}
<div class="container">
		{% block body %}
			<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
						<ul>
							{% for Post in posts %}	
								<li> 
								<a href="{% url 'deletepost' pk=Post.post_id %}" method="post">{{Post.title}}</a>
								</li>
								<div>
									{{Post.post}}
								</div>
								<div>
  									{{Post.user}}
								</div>
								{% if Post.image %}
								<img src={{Post.image.url}} alt="no image" width="25%" height="25%">
								{% endif %}
								
					        {% endfor %}
					    </ul>
					 </div>
				<form action="{% url 'list_lost_post' %}">
    					<button type="submit">Cancel</button>
    			</form>
			</div>
		{% endblock %}
	</div>

s