{% extends 'tagpuanApp/base_profile.html' %}
<div class="container">
		{% block body %}
			<div class="row">
					<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3" id="post_type">
						<ul>

							{% for Post in posts %}
								<hr>
								<center><h3><a href="{% url 'Postprofile' pk=Post.post_id %}" method="post">{{Post.title}}</a></h3></center>

								{% if Post.image %}
								<center><img src={{Post.image.url}} alt="no image" width="40%" height="40%"></center>
								{% endif %}
								<br/>
								<div>
									<p>{{Post.post}}<p>
								</div>
								<br/>
								<div>
									<p align="right"><a href="{% url 'updatepost' pk=Post.post_id %}" method="post">Edit</a> | <a href="{% url 'deletepost' pk=Post.post_id %}" method="post">Delete</a></p>
								</div>

					        {% endfor %}
					    </ul>
					 </div>
					 
			</div>
			<br/>
			<br/>
		{% endblock %}
	</div>

